<h1>Types de risque</h1>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Classements</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.code %></td>
        <td><%= type.description %></td>
        <td><%= type.ranks.map(&:description)*' - ' %></td>
        <td>
          <%= link_to 'Éditer', edit_type_path(type), class: 'btn btn-info' %>
          <%= link_to 'Supprimer', type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

