<h1>Risques</h1>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Classements</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @risks.each do |risk| %>
      <tr>
        <td><%= risk.code %></td>
        <td><%= risk.description %></td>
        <td><%= risk.ranks.map(&:description)*' - ' %></td>
        <td>
          <%= link_to 'Éditer', edit_risk_path(risk), class: 'btn btn-info' %>
          <%= link_to 'Supprimer', risk, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

